<%- include('../header'); -%>
  <%- include('../navbar'); -%>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      
      <%- include('../sidebars/index'); -%>
      <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <h2 class="mb-4">Agregar Usuario</h2>
                <div class="row justify-content-center">
                    <div class="col-12 grid-margin">
                        <form class="form-sample"  id="form" action="/usuarios/nuevo" method="POST">
                            <div class="card mb-5">
                                <div class="card-body">
                                <h4 class="card-title text-uppercase">Agregar datos de la nueva cuenta</h4>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row " id="privilegioRegisterChange">
                                                <label class="col-sm-3 col-form-label">Tipo de usuario</label>
                                                <div class="col-sm-8">
                                                    <div class="form-radio">
                                                        <label class="form-check-label">
                                                            <select class="form-control" id="privilegioSelect" name="privilege">
                                                                <option disabled selected value=''>Seleccionar tipo de usuario</option>
                                                                <option value="Usuario">Usuario</option>
                                                                <option value="Proveedor">Proveedor</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Usuario</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="username" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Correo Electrónico</label>
                                                <div class="col-sm-9">
                                                    <input type="email" name="email" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Contraseña</label>
                                                <div class="col-sm-9">
                                                    <input type="password" name="password" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Repetir contraseña</label>
                                                <div class="col-sm-9">
                                                    <input type="password" name="rePassword" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" id="usuario">
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase">Información del cliente</h4>
                                    <p class="card-description font-weight-bold">
                                        Información personal
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Nombres</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="nombreCompleto" class="form-control" />
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Genero</label>
                                                <div class="col-sm-9">
                                                    <select name="genero" class="form-control">
                                                        <option value="Masculino">Masculino</option>
                                                        <option value="Femenino">Femenino</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Fecha de Nacimiento</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" name="fechaNacimiento" placeholder="dd/mm/yyyy" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Teléfono</label>
                                                <div class="col-sm-9">
                                                    <input type="tel" name="telefono" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Celular</label>
                                                <div class="col-sm-9">
                                                        <input type="tel" name="celular" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="card-description font-weight-bold mt-4">
                                        Dirección
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Dirección</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="direccion" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Distrito</label>
                                                <div class="col-sm-9">
                                                    <select name="distrito" class="form-control">
                                                        <option disabled selected>Seleccionar distrito</option>
                                                        <% if (distritos) { 
                                                            for (i = 0; i < distritos.length; i++) { 
                                                                %>
                                                                <option><%= distritos[i].nombre_ubigeo %></option>
                                                        <%  }
                                                        }
                                                        %>
                                                       
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" id="proveedor">
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase">Información del proveedor</h4>
                                    <p class="card-description font-weight-bold">
                                        Información empresa
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Empresa</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="empresa" class="form-control" />
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">RUC</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="ruc" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Teléfono</label>
                                                <div class="col-sm-9">
                                                    <input type="tel" name="telefonoEmpresa" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-description font-weight-bold">
                                        Información servicios
                                    </p>
                                   

                                    <p class="card-description font-weight-bold mt-4">
                                        Dirección
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Dirección</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="direccionEmpresa" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Distrito</label>
                                                <div class="col-sm-9">
                                                    <select name="distritoEmpresa" class="form-control">
                                                        <option disabled selected>Seleccionar distrito</option>
                                                        <% if (distritos) { 
                                                            for (i = 0; i < distritos.length; i++) { 
                                                                %>
                                                                <option><%= distritos[i].nombre_ubigeo %></option>
                                                        <%  }
                                                        }
                                                        %>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Tipo de Fiestas</label>
                                                <div class="col-sm-9">
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="babyShower" />
                                                        <span class="mr-4">Baby Shower</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="karaoke" />
                                                        <span class="mr-4">Karaoke</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="parrillada" />
                                                        <span class="mr-4">Parrillada</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="coctel" />
                                                        <span class="mr-4">Coctel</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="reunionesFamiliares" />
                                                        <span class="mr-4">Reuniones Familiares</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="despedidasSoltero" />
                                                        <span class="mr-4">Despedidas de Soltero</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="brunch" />
                                                        <span class="mr-4">Brunch</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="quinceAnos" />
                                                        <span class="mr-4">Quince Años</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="fiestaAdultos" />
                                                        <span class="mr-4">Fiesta de Adultos</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="fiestaInfantil" />
                                                        <span class="mr-4">Fiesta de Infantil</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="bautizo" />
                                                        <span class="mr-4">Bautizo</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="primeraComunion" />
                                                        <span class="mr-4">Primera Comunion</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="matrimonio" />
                                                        <span class="mr-4">Matrimonio</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="finAno" />
                                                        <span class="mr-4">Fin de Año</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="halloween" />
                                                        <span class="mr-4">Halloween</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="sanValentin" />
                                                        <span class="mr-4">San Valentin</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="anoNuevoChino" />
                                                        <span class="mr-4">Año Nuevo Chino</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="aniversarioPaises" />
                                                        <span class="mr-4">Aniversario de Paises</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="tipoFiestas"  value="aniversarioBodas" />
                                                        <span class="mr-4">Aniversario de Bodas</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Servicios</label>
                                                <div class="col-sm-9">
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="filmacionFotografia" />
                                                        <span class="mr-4">Filmacion y Fotografia</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="horaLoca" />
                                                        <span class="mr-4">Hora Loca</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="animacion" />
                                                        <span class="mr-4">Animación</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="catering" />
                                                        <span class="mr-4">Catering</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="pinateria" />
                                                        <span class="mr-4">Piñateria</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="recuerdos" />
                                                        <span class="mr-4">Recuerdos</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="brindis" />
                                                        <span class="mr-4">Brindis</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="mesaBocaditos" />
                                                        <span class="mr-4">Mesa de Bocaditos</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="barraBar" />
                                                        <span class="mr-4">Barra de Bar</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="foodTruck" />
                                                        <span class="mr-4">Food Truck</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="torta" />
                                                        <span class="mr-4">Torta</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="ambientacion" />
                                                        <span class="mr-4">Ambientación</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="mobiliario" />
                                                        <span class="mr-4">Mobiliario</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="servicioParrillero" />
                                                        <span class="mr-4">Servicio Parrillero</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="local" />
                                                        <span class="mr-4">Local</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="sorpresas" />
                                                        <span class="mr-4">Sorpresas</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="disfraces" />
                                                        <span class="mr-4">Disfraces</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="carnes" />
                                                        <span class="mr-4">Carnes</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="mesasLounge" />
                                                        <span class="mr-4">Mesas de Lounge</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="djParty" />
                                                        <span class="mr-4">Dj Party</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="equipoSonido" />
                                                        <span class="mr-4">Equipo de Sonido</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="luces" />
                                                        <span class="mr-4">Luces</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="Orquesta" />
                                                        <span class="mr-4">Orquesta</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="maestroCeremonias" />
                                                        <span class="mr-4">Maestro de Ceremonias</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="invitaciones" />
                                                        <span class="mr-4">Invitaciones</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="miniSpa" />
                                                        <span class="mr-4">Mini Spa</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="caritasPintadas" />
                                                        <span class="mr-4">Caritas Pintadas</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="transporte" />
                                                        <span class="mr-4">Transporte</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="servicioCadetes" />
                                                        <span class="mr-4">Servicio de Cadetes</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="chambelan" />
                                                        <span class="mr-4">Chambelan</span>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" name="servicios"  value="planner" />
                                                        <span class="mr-4">Planner</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Crear usuario</button>
                        </form>
                    </div>
                </div>
            </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
                    <a href="https://partyapp.pe/" target="_blank">PartyApp</a>. Todos los derechos reservados.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hecho con
                    <i class="mdi mdi-heart text-danger"></i> por <a href="https://businet-web.com">Businet</a>
                    </span>
                </div>
            </footer>
        <!-- partial -->
         </div>
      <!-- main-panel ends -->
    </div>

    <script>
        var selector = document.getElementById('privilegioSelect');
        var usuario = document.getElementById('usuario');
        var proveedor = document.getElementById('proveedor');
        usuario.style.display = 'none';
        proveedor.style.display = 'none';
        selector.addEventListener("change", function(){
            if(selector.value == 'Usuario'){
                usuario.style.display = 'block';
                proveedor.style.display = 'none';
            }else if(selector.value == 'Proveedor'){
                proveedor.style.display = 'block';
                usuario.style.display = 'none';
            }else{
                usuario.style.display = 'none';
                proveedor.style.display = 'none';
            }
        });

        // FORM SUBMIT
        var form = document.getElementById('form');
        form.addEventListener("submit", function(e) {
            e.preventDefault();
            formValidate()
        });
        function formValidate(){
            var data = {
                'privilege' : document.getElementsByName('privilege')[0].value,
                'username' : document.getElementsByName('username')[0].value,
                'email' : document.getElementsByName('email')[0].value,
                'password' : document.getElementsByName('password')[0].value,
                'rePassword' : document.getElementsByName('rePassword')[0].value,
                'profile': {}
            }
            if(data.password != data.rePassword) return alert('Contraseñas no coinciden');
            if(data.privilege === 'Usuario'){
                var nombreCompleto = document.getElementsByName('nombreCompleto')[0].value;
                if(nombreCompleto) data.profile.nombreCompleto = nombreCompleto
                var genero = document.getElementsByName('genero')[0].value;
                if(genero) data.profile.genero = genero
                var fechaNacimiento = document.getElementsByName('fechaNacimiento')[0].value;
                if(fechaNacimiento) data.profile.fechaNacimiento = fechaNacimiento
                var telefono = document.getElementsByName('telefono')[0].value;
                if(telefono) data.profile.telefono = telefono
                var celular = document.getElementsByName('celular')[0].value;
                if(celular) data.profile.celular = celular
                var direccion = document.getElementsByName('direccion')[0].value;
                if(direccion) data.profile.direccion = direccion
                var distrito = document.getElementsByName('distrito')[0].value;
                if(distrito) data.profile.distrito = distrito  
            }else if(data.privilege === 'Proveedor'){
                var empresa = document.getElementsByName('empresa')[0].value;
                if(empresa) data.profile.empresa = empresa
                var ruc = document.getElementsByName('ruc')[0].value;
                if(ruc) data.profile.ruc = ruc
                var telefonoEmpresa = document.getElementsByName('telefonoEmpresa')[0].value;
                if(telefonoEmpresa) data.profile.telefonoEmpresa = telefonoEmpresa
                var direccionEmpresa = document.getElementsByName('direccionEmpresa')[0].value;
                if(direccionEmpresa) data.profile.direccionEmpresa = direccionEmpresa
                var distritoEmpresa = document.getElementsByName('distritoEmpresa')[0].value;
                if(distritoEmpresa) data.profile.distritoEmpresa = distritoEmpresa
                var tipoFiestasCheckboxes = document.getElementsByName('tipoFiestas');
                var serviciosCheckboxes = document.getElementsByName('servicios');
                var tipoFiestas = [];
                var servicios = [];
                for (var i = 0; i < tipoFiestasCheckboxes.length; i++) {
                    var checkbox = tipoFiestasCheckboxes[i];
                    if (checkbox.checked) tipoFiestas.push(checkbox.value);
                }
                if(tipoFiestas.length > 0) data.profile.tipoFiestas = tipoFiestas
                for (var i = 0; i < serviciosCheckboxes.length; i++) {
                    var checkbox = serviciosCheckboxes[i];
                    if (checkbox.checked) servicios.push(checkbox.value);
                }
                if(servicios.length > 0) data.profile.servicios = servicios
            }
           
            axios({
                method: 'post',
                url: '/usuarios/nuevo',
                data: data
            }).then(r=>{
                if(r.data.valid){
                    window.location.replace("/usuarios/todos");
                }else{
                    alert('error')
                }
            });
        }

    </script>
    <!-- page-body-wrapper ends -->
<%- include('../footer'); -%>