<%- include('../header'); -%>
  <%- include('../navbar'); -%>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      
      <%- include('../sidebars/index'); -%>
      <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <h2 class="mb-4">Fiesta</h2>
                <div class="row justify-content-center">
                    <div class="col-12 grid-margin">
                        <form class="form-sample"  id="form" action="/usuarios/nuevo" method="POST">
                            <div class="card mb-5">
                                <div class="card-body">
                                <h4 class="card-title text-uppercase">Datos de la fiesta</h4>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row ">
                                                <label class="col-sm-3 col-form-label">Nombre de la fiesta</label>
																								<div class="col-sm-9">
																										<input type="text" value="<%= evento.nombre %>" class="form-control" name="nombre" />
																								</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Fecha del evento</label>
                                                <div class="col-sm-9">
                                                    <input type="date" value="<%= evento.fecha_del_evento %>" class="form-control" name="fecha_del_evento" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
																						<div class="form-group row">
																								<label class="col-sm-3 col-form-label">Hora del evento</label>
																								<div class="col-sm-9">
																										<input type="time" value="<%= evento.hora_del_evento %>" class="form-control" name="hora_del_evento" />
																								</div>
																						</div>
                                        </div>
																		</div>
																		<div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Adultos</label>
                                                <div class="col-sm-9">
                                                    <input type="number" min="0" value="<%= evento.adultos %>" class="form-control" name="adultos" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
																						<div class="form-group row">
																								<label class="col-sm-3 col-form-label">Niños</label>
																								<div class="col-sm-9">
																										<input type="number" min="0" value="<%= evento.ninos %>" class="form-control" name="ninos" />
																								</div>
																						</div>
                                        </div>
																		</div>
																		<% if( evento.local) { %>
																			<div class="row">
																				<div class="col-md-12">
																						<% 
																							if(evento.multiple_local.length > 0){
																									evento.multiple_local.forEach(e=>{
																										%>
																											<div class="py-3">
																												<p>Dirección: <%= e.direccion %></p>
																												<p>Local: <%= e.distrito %></p>
																											</div>
																										<% 
																									})	
																							}else{
																								%>
																									<p>Dirección: <%= evento.direccion %></p>
																									<p>Local: <%= evento.distrito %></p>
																								<%
																							} 
																						%>
																				</div>
																			</div>
																		<% } %>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
                    <a href="https://partyapp.pe/" target="_blank">PartyApp</a>. Todos los derechos reservados.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hecho con
                    <i class="mdi mdi-heart text-danger"></i> por <a href="https://businet-web.com">Businet</a>
                    </span>
                </div>
            </footer>
        <!-- partial -->
         </div>
      <!-- main-panel ends -->
    </div>

    <script>
        

        // FORM SUBMIT
        var form = document.getElementById('form');
        form.addEventListener("submit", function(e) {
            e.preventDefault();
            formValidate()
        });
        function formValidate(){
            var data = {
                'privilege' : document.getElementsByName('privilege')[0].value,
                'username' : document.getElementsByName('username')[0].value,
                'email' : document.getElementsByName('email')[0].value,
                'password' : document.getElementsByName('password')[0].value,
                'rePassword' : document.getElementsByName('rePassword')[0].value,
                'profile': {}
            }
            if(data.password != data.rePassword) return alert('Contraseñas no coinciden');
            if(data.privilege === 'Usuario'){
                var nombreCompleto = document.getElementsByName('nombreCompleto')[0].value;
                if(nombreCompleto) data.profile.nombreCompleto = nombreCompleto
                var genero = document.getElementsByName('genero')[0].value;
                if(genero) data.profile.genero = genero
                var fechaNacimiento = document.getElementsByName('fechaNacimiento')[0].value;
                if(fechaNacimiento) data.profile.fechaNacimiento = fechaNacimiento
                var telefono = document.getElementsByName('telefono')[0].value;
                if(telefono) data.profile.telefono = telefono
                var celular = document.getElementsByName('celular')[0].value;
                if(celular) data.profile.celular = celular
                var direccion = document.getElementsByName('direccion')[0].value;
                if(direccion) data.profile.direccion = direccion
                var distrito = document.getElementsByName('distrito')[0].value;
                if(distrito) data.profile.distrito = distrito  
            }else if(data.privilege === 'Proveedor'){
                var empresa = document.getElementsByName('empresa')[0].value;
                if(empresa) data.profile.empresa = empresa
                var ruc = document.getElementsByName('ruc')[0].value;
                if(ruc) data.profile.ruc = ruc
                var telefonoEmpresa = document.getElementsByName('telefonoEmpresa')[0].value;
                if(telefonoEmpresa) data.profile.telefonoEmpresa = telefonoEmpresa
                var direccionEmpresa = document.getElementsByName('direccionEmpresa')[0].value;
                if(direccionEmpresa) data.profile.direccionEmpresa = direccionEmpresa
                var distritoEmpresa = document.getElementsByName('distritoEmpresa')[0].value;
                if(distritoEmpresa) data.profile.distritoEmpresa = distritoEmpresa
                var tipoFiestasCheckboxes = document.getElementsByName('tipoFiestas');
                var serviciosCheckboxes = document.getElementsByName('servicios');
                var tipoFiestas = [];
                var servicios = [];
                for (var i = 0; i < tipoFiestasCheckboxes.length; i++) {
                    var checkbox = tipoFiestasCheckboxes[i];
                    if (checkbox.checked) tipoFiestas.push(checkbox.value);
                }
                if(tipoFiestas.length > 0) data.profile.tipoFiestas = tipoFiestas
                for (var i = 0; i < serviciosCheckboxes.length; i++) {
                    var checkbox = serviciosCheckboxes[i];
                    if (checkbox.checked) servicios.push(checkbox.value);
                }
                if(servicios.length > 0) data.profile.servicios = servicios
            }
           
            axios({
                method: 'post',
                url: '/usuarios/nuevo',
                data: data
            }).then(r=>{
                if(r.data.valid){
                    window.location.replace("/usuarios/todos");
                }else{
                    alert('error')
                }
            });
        }

    </script>
    <!-- page-body-wrapper ends -->
<%- include('../footer'); -%>